.account__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 21px;

  .profile {
    width: 43px;
    height: 43px;

    span {
      overflow: hidden;
      display: inline-block;
      position: relative;
      z-index: -1;
      border: 0;
      width: 1px;
      height: 1px;
      clip: rect(1px, 1px, 1px, 1px);
      clip-path: inset(50%);
    }
  }

  .account__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
  }

  .header__icons {
    display: flex;
    align-items: center;

    img {
      margin-right: 18px;
    }
    img:last-child {
      margin-right: 0;
    }
  }
}
