.question {
  max-width: 720px;
  background-color: #eeeded;
  display: flex;
  margin: 0 auto;
  padding: 1.5rem;
  min-height: 50px;

  line-height: 24px;

  border-bottom: 2px solid rgb(189, 189, 189);
}
.question__container {
  flex: 1 1 80%;
  padding: 1rem;
}

.answer__container {
  flex: 1 1 20%;
  display: flex;
  align-items: center;
}

.answer__container label {
  line-height: 20px;
  margin: 0 0.25rem;
}

.codeblock {
  background-color: #1e1e1e;
  color: white;
}

.mother {
  width: 280px;
  margin-bottom: 1rem;
}

.child {
  width: 100%;
  height: 50px;
  background-color: cornflowerblue;
}

.answer_box {
  background-color: rgb(123, 207, 123);
  max-width: 720px;
  min-height: 60px;
  padding: 1.5rem;
  margin: 0 auto;
  color: white;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer_box label {
  cursor: pointer;
  transition: all 0.25s;
}

.answer_box label:hover {
  font-size: 1.75rem;
}

.answer_box input:checked ~ label {
  display: none;
}

.answer_box .answer_list {
  display: none;
}

.answer_box input:checked ~ .answer_list {
  display: block;
}
